Source: libedrawable
Section: gui
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper (>= 7), cdbs, automake, libtool, pkg-config, libevas-dev, libecore-dev, libfreetype6-dev
XCS-Cross-Host-Build-Depends: debhelper (>= 7), cdbs, cdbs-embedded, automake, libtool, pkg-config
XCS-Cross-Build-Depends: libevas-dev, libecore-dev, libfreetype6-dev
Priority: optional
Standards-Version: 3.8.0

Package: libedrawable1
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: Hacked version of imlib2
 Provide drawable canvas with primitives for Evas

Package: libedrawable-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libedrawable1 (= ${binary:Version}), libevas-dev, libecore-dev
Description: Hacked version of imlib2 -- development files
 Provide drawable canvas with primitives for Evas
 .
 This package contains development files required to link with the library.
