Section: gui
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper (>= 7), automake, libtool
XCS-Cross-Host-Build-Depends: debhelper (>= 7), cdbs, automake, libtool
XCS-Cross-Build-Depends: libevas-dev, libecore-dev, libewl1-dev, libfreetype6-dev
Priority: optional
Standards-Version: 3.8.0
Source: edrawable

Package: libedrawable0
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: Hacked version of imlib2
 Provide drawable canvas with primitives for Evas+EWL

Package: libedrawable-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libedrawable0 (= ${binary:Version})
Description: Hacked version of imlib2 -- development files
 Provide drawable canvas with primitives for Evas+EWL
 .
 This package contains development files required to link with the library.
